*/myenv/
*/opt-1.1/
*/opt-2/
*/opt-2-4.35/
*/opt-2-smd/
*/opt-2.1/
*/opt-2.2/
*/opt-2.3/
*/opt-1.2/
*/long-runs/
*/opt-3/
*/opt-2-done-all/
*/opt-2.2-final/
**/*.chk
**/*.err
**/nodename
**/gaussian.sh
