/opt-1.1/
/opt-2/
/opt-2-4.350/
/opt-2-smd/
/opt-2.1/
/opt-2-done-all/
/opt-2.2-final/
# Ignore everything in 'neutral' 'radical' and 'anion' directories
**/neutral/*
**/radical/*
**/anion/*
# But don't ignore .log and .out files
!**/neutral/*.com
!**/neutral/*COSMO.in
!**/radical/*.log
!**/radical/*COSMO.out
!**/anion/*COSMO.out
!**/anion/*COSMO.in
!**/anion/*PCM.log
!**/anion/*PCM.com
!**/radical/*PCM.com
!**/radical/*PCM.log
!**/neutral/*PCM.com
!**/neutral/*PCM.log
!**/neutral/*COSMO.in
!**/neutral/*SM12.in
!**/neutral/*SM12.out
!**/radical/*SM12.in
!**/radical/*SM12.out
!**/anion/*SM12.in
!**/anion/*SM12.out
!**/radical/*.com
!**/anion/*.com
!**/radical/*COSMO.in
!**/anion/*.log
!**/neutral/*.log
!**/neutral/*COSMO.out
